# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>Hello, world!</p>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Create a Tournament</h2>
      <p>
        <ul>
          <li>Single Elimination</li>
          <li>Double Elimination</li>
          <li>more to come...</li>
        </ul>
      </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Add/Invite players</h2>
      <p>some other stuff here</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Draw/Print </h2>
      <p>Random draw...or fixed fixtures</p>
    </div>
    <div class="col-sm-6 col-md-12 col-lg-3">
      <h2>Play/Enjoy</h2>
      <p>and the last stuff here or maybe delete this or add another, anyway this will be decided on later date</p>
    </div>
  </div>
# endblock
