# extends 'base.html'

# block content
  <div class="page-header">
    <h1>
      <small>
        <a href="{{url_for('tournament_list', order='-modified')}}" class="text-muted"><i class="fa fa-fw fa-chevron-left"></i></a>
      </small>
      {{title}}
    </h1>
    # if current_user.id == tournament_db.user_key.id()
      <p>
        <a class="btn btn-info btn-xs" href="{{url_for('tournament_update', tournament_id=tournament_db.key.id())}}"><i class="fa fa-edit"></i> Edit Tournament</a>
      </p>
    # endif
  </div>

  <div class="row">
    <div class="col-sm-6">
      <table class="table table-hover table-bordered">
        <tr>
          <th>Type</th>
          <td>{{tournament_db.type}}</td>
        </tr>
        <tr>
          <th>Date/Time</th>
          <td>{{tournament_db.timestamp.strftime('%Y-%m-%d %H:%M')}}</td>
        </tr>
        <tr>
          <th>Place</th>
          <td>{{tournament_db.place}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{tournament_db.full_address}}</td>
        </tr>
        <tr>
          <th>Rules</th>
          <td>{{tournament_db.rules}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{'Closed' if tournament_db.is_closed else 'Open'}}</td>
        </tr>
      </table>

      # if not tournament_db.is_closed
        # if not tournament_db.is_user_registered(current_user.user_db)
          <form action="{{url_for('tournament_register', tournament_id=tournament_db.key.id(), register_flag='register')}}" method="post">
            <button type="submit" class="btn btn-success btn-lg btn-block btn-loading" data-loading-text="Registering..">
              Register
            </button>
          </form>
        # endif
      # endif

    </div>
    <div class="col-sm-6">
      # set address = tournament_db.full_address.replace(' ', '+')
      <a href="https://www.google.com/maps/search/{{address}}/" target="_blank">
        <img class="img-responsive img-thumbnail" src="http://maps.googleapis.com/maps/api/staticmap?center={{address}}&zoom=15&size=400x223&markers=color:red|{{address}}&sensor=false&key={{config.CONFIG_DB.google_public_api_key}}">
      </a>
    </div>
  </div>

  <hr>

  <div class="row {{'hide' if not user_tournament_dbs}}">
    <div class="col-sm-6">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Registered Users</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          # for user_tournament_db in user_tournament_dbs
            # set user_db = user_tournament_db.user_key.get()
            <tr class="{{'active' if user_db.key.id() == current_user.id}}">
              <td>
                <img src="{{user_db.avatar_url_size(36)}}" width="18" alt="Avatar of {{user_db.name}}">
                {{user_db.name}}
                # if not tournament_db.is_closed
                  # if tournament_db.is_user_registered(current_user.user_db) and current_user.id == user_db.key.id()
                  <form action="{{url_for('tournament_register', tournament_id=tournament_db.key.id(), register_flag='unregister')}}" method="post" class="pull-right">
                        <button type="submit" class="btn btn-link btn-loading" data-loading-text="Unregistering..">
                          Unregister
                        </button>
                  </form>
                  # endif
                # endif
              </td>
              <td>{{user_tournament_db.position or '-'}}</td>
            </tr>
          # endfor
        </tbody>
      </table>
    </div>
  </div>
# endblock
