# extends 'base.html'

# block content
  <div class="page-header">
    <h1>
      <small>
        <a href="{{url_for('tournament_list', order='-modified')}}" class="text-muted"><i class="fa fa-fw fa-chevron-left"></i></a>
      </small>
      {{title}}
    </h1>
  </div>
  <p>{{tournament_db.name}}</p>
  <p>{{tournament_db.type}}</p>
  <p>{{tournament_db.timestamp}}</p>
  <p>{{tournament_db.address}}</p>
  <p>{{tournament_db.rules}}</p>
  <p>{{'Closed' if tournament_db.is_closed else 'Open'}}</p>
  <p>{{'Public' if tournament_db.is_public else 'Private'}}</p>
# endblock
